<!DOCTYPE html>
<html lang="en">
    <head>
		<!-- Page properties -->
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <title>Mandelbrot</title>

		<%- include("./seo.ejs") %>

		<%- include("./font.ejs") %>

		<!-- Main CSS style -->
        <link rel="stylesheet" href="styles/style.min.css"/>
	</head>
	<body>
		<%- include("./modal.ejs") %>

		<div id="wrapper">

			<%- include("./stats.ejs") %>
		</div>

		<%- include("./footer.ejs") %>


		<!-- Main script -->
		<script src="./scripts/bundle.js"></script>
	</body>
</html>